// COLORS
$color-royalblue: #000033;
$color-royalblue-light: #02203c;
$color-royalblue-dark: #001528;

$color-navyblue-light: #1b73d3;
$color-navyblue-dark: #010079;

// More colors https://coolors.co/81a4cd-36558f-a4c2a5-c5d5ea-aec5eb

//$color-primary: #55c57a;
$color-tertiary-light: #7ed56f;
$color-tertiary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-primary: #626ee3;
$color-primary-light: #2998ff;
$color-primary-light-2: #61dbfb;
$color-primary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: rgb(194, 194, 194);

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// font size
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
// gutter = space between colums
$gutter-vertical-small: 6rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
$gutter-horizontal-big: 8rem;

// BORDER RADIUS
$border-small: 0.3rem;
$border-medium: 0.5rem;
