.form {
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input {
    font-size: 1.5rem;
    font-family: inherit; // input elements dont inherit the font family by default, so we have to set it to inherit or give it a new one.
    color: inherit;
    padding: 1.5rem 2rem; // give buttons abit more padding on the sides, for better visuals. Same top and bottom padding makes it look smaller than it is.
    border-radius: 0.2rem;
    background-color: rgba($color-white, 0.5);
    border: none;
    border-bottom: 0.3rem solid transparent;
    width: 90%;
    display: block;
    transition: all 0.3s;

    @include respond(tab-port) {
      width: 100%;
    }

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      border-bottom: 0.3rem solid $color-primary;
    }

    &:focus:invalid {
      border-bottom: 0.3rem solid $color-secondary-dark;
    }

    &::-webkit-input-placeholder {
      color: $color-grey-dark-2;
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
  }

  // + = sibling selector, but only works unless there is not an element between them.
  // use ~ otherwise
  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden; // why use both obacity 0 and visability hidden? because if we dont use visability the elements will baically still be on the page and you cant animate the visability, you need the opacity for it to work.
    transform: translateY(-4rem);
  }

  &__radio-group {
    width: 49%;
    display: inline-block;

    @include respond(tab-port) {
      width: 100%;
      margin-bottom: 2rem;
    }
  }

  &__radio-input {
    display: none;
  }

  &__radio-label {
    font-size: $default-font-size;
    cursor: pointer;
    position: relative;
    padding-left: 4.5rem;
  }

  &__radio-button {
    height: 3rem;
    width: 3rem;
    border: 0.5rem solid $color-primary;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -0.4rem;

    &::after {
      content: '';
      display: block;
      height: 1.4rem;
      width: 1.4rem;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: $color-primary;
      opacity: 0;
      transition: opacity 0.2s;
    }
  }

  &__radio-input:checked + &__radio-label &__radio-button::after {
    opacity: 1;
  }
}
