.post {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1); // offset-x | offset-y | blur-radius | color & opacity
  background-color: rgba($color-white, 0.7);
  border-radius: 0.3rem;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);

  @include respond(tab-port) {
    width: 100%;
    padding: 4rem;
    padding-left: 7rem;
  }

  @include respond(phone) {
    transform: skewX(0deg);
  }

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    border-radius: 50%;
    transform: translateX(-6rem) skewX(12deg); // when we want to move around a floated element, we dont want to mess around with margins, etc. so the best way is to use transform( translateX or Y )
    position: relative;
    overflow: hidden;

    @supports (clip-path: circle(50% at 50% 50%)) or
      (-webkit-clip-path: circle(50% at 50% 50%)) {
      -webkit-shape-outside: circle(50% at 50% 50%);
      shape-outside: circle(
        50% at 50% 50%
      ); // only works with float, width, height...
      -webkit-clip-path: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
    }

    @include respond(phone) {
      transform: translateX(-6rem) skewX(0);
    }
  }

  &__img {
    height: 100%; // because of transform: translateX the image is wider than its height, it cannot fill the entire circle, so we have to give it 100% height instead if width.
    transform: translateX(-6rem) scale(1.15);
    transition: all 0.5s;
    backface-visibility: hidden;
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: $color-white;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden;
  }

  &__text {
    transform: skewX(12deg);

    @include respond(phone) {
      transform: skewX(0);
    }
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__img {
    transform: translateX(-6rem) scale(1);
    filter: blur(0.3rem) brightness(80%); // experiment with differnt filters
  }
}
